@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');

:root{
    --main-green: #6c983e;
    --my-listings-green: #456d21;
    --major-background-color: #f7f8fa;
    --comment-color: #b5b6b8;
    --my-listings-carousel: #fefefe;
        --shadow-color: 94deg 45% 47%;
        --shadow-elevation-low:
          0px 0.7px 0.8px hsl(var(--shadow-color) / 0.34),
          0px 1.2px 1.3px -1.2px hsl(var(--shadow-color) / 0.34),
          0px 3px 3.4px -2.5px hsl(var(--shadow-color) / 0.34);
        --shadow-elevation-medium:
          0px 0.7px 0.8px hsl(var(--shadow-color) / 0.29),
          0px 2px 2.3px -0.6px hsl(var(--shadow-color) / 0.29),
          0px 3.8px 4.3px -1.2px hsl(var(--shadow-color) / 0.29),
          0px 7.7px 8.7px -1.9px hsl(var(--shadow-color) / 0.29),
          0px 14.8px 16.7px -2.5px hsl(var(--shadow-color) / 0.29);
        --shadow-elevation-high:
          0px 0.7px 0.8px hsl(var(--shadow-color) / 0.27),
          0px 3.6px 4.1px -0.3px hsl(var(--shadow-color) / 0.27),
          0px 6.3px 7.1px -0.6px hsl(var(--shadow-color) / 0.27),
          0px 9.6px 10.8px -0.8px hsl(var(--shadow-color) / 0.27),
          0px 14px 15.8px -1.1px hsl(var(--shadow-color) / 0.27),
          0px 20.1px 22.6px -1.4px hsl(var(--shadow-color) / 0.27),
          0px 28.6px 32.2px -1.7px hsl(var(--shadow-color) / 0.27),
          0.1px 40.1px 45.1px -1.9px hsl(var(--shadow-color) / 0.27),
          0.1px 55.1px 62px -2.2px hsl(var(--shadow-color) / 0.27),
          0.1px 74.2px 83.5px -2.5px hsl(var(--shadow-color) / 0.27);
}

*{
    overflow: scroll;
    font-family: 'Cabin Sketch', cursive;
    font-weight: 700;
}

*::-webkit-scrollbar {
    display: none;
  }

body{
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/images/Animated\ Shape.svg');
    background-size: cover;
}

#icons > ul{
    display: flex;
    flex-flow: row;
    margin: 13px 13px 0 0;
}

#icons > ul > li{
    text-align: center;
    height: 20px;
    width: 20px;
    margin: 2px;
    padding: 2px;
    border-radius: 3px;
    box-shadow: var(--shadow-elevation-low);
}

.container{
    display: grid;
    grid-template-areas: 'nav-bar main-sec main-sec main-sec main-sec'
                         'nav-bar main-sec main-sec main-sec main-sec'
                         'nav-bar main-sec main-sec main-sec main-sec'
                         'nav-bar main-sec main-sec main-sec main-sec';
    height: 90vh;
    width: 900px;
    border-radius: 13px;
    background-color: var(--major-background-color);
    opacity: 0.85;
    transition: 6ms;
}

.container:hover{
    opacity: 0.89;
}

#main-sec{
    grid-area: main-sec;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: repeat(5, 1fr);
    padding: 0;
    margin: 0;
    grid-auto-columns: auto;
    grid-auto-flow: dense row;
    grid-row-gap: 10px;
}

#nav-bar{
    grid-area: nav-bar;
    background-color: #ffffff;
    border-right: solid 0.5px #b5b6b84d;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px;
    border-radius: 13px 0 0 13px;
    margin-right: 0;
    justify-content: space-between;
}

#nav-bar > div{
    width: 100%;
    min-height: 10px;

}

#nav-bar > #logo > ul{
    color: var(--main-green);
    font-size: 17px;
    height: 17px;
}

li{
    height: 23px;
}

ul{
    list-style: none;
    font-size: 13px;
    text-align: left;
    padding-left: 13px;
    color: var(--comment-color);
}

#settings-menu > h4{
    padding-left: 9px;
    font-size: 8px;
}

#help-center-logo{
    padding: 5px;
    display: unset;
    margin: auto;
    border: 10px solid #ffffff;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    box-shadow: var(--shadow-elevation-high);
}

#help-center{
    max-width: 140px;
    padding: 3px;
    border-radius: 7px;
    text-align: center;
    background-image: url('/images/help-center-bg.svg');
    background-position: right;
    background-size: cover;
    box-shadow: var(--shadow-elevation-low);
}

#help-center> p{
    font-size: 10px;
}

button{
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: var(--shadow-elevation-high);
    border: none;
    margin-bottom: 12px;
    font-size: 10px;
    padding: 6px;
}

#heading{
    grid-column: 1/-1;
    grid-row: 1/2;
    display: flex;
    flex-flow: row;
    margin-left: 0;
    width: 100%;
    justify-content: space-between;
    height: min-content;
    margin-bottom: 0;
}

#heading > #welcome{
    margin: 0 0 0 35px;
    width: 40%;
}

#heading > #inp{
    width: 30%;
    height: 19px;
    margin-top: 19px;
    border: 0.5px solid #b5b6b823;
    border-radius: 3px;
    color: var(--comment-color);
    font-size: 9px;
}

#heading > #welcome > h3{
    margin-top: 9px;
    margin-bottom: 0;
}

#heading > #welcome > p{
    margin-top: 3px;
    font-size: 10px;
    color: var(--comment-color);
}

#widgets{
    grid-row: 2/3;
    height: 200px;
    grid-column: 1/-1;
    display: flex;
    flex-flow: row;
    align-items: center;
    /* overflow-x: scroll;  */
}

.tabs{
    border-radius: 7px;
    margin: 0 10px;
    height: 150px;
}

#main-tab{
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 60%;
    background-image: url('/images/dark-plant.jpg');
    background-position: center;
    background-size: cover;
    padding: 1px 24px;
}

.main-tab-btn{
    margin: 20px 0;
    padding: 9px;
    box-shadow: none;
}

.main-tab-btn:nth-child(1){
    color: var(--main-green);
}

.main-tab-btn:nth-child(2){
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-left: 5px;
}

#main-tab > h1,
#main-tab > p{
    color: var(--main-green);
    margin: 3px 0;
}

#main-tab > h1{
    font-size: 20px;
}

#main-tab > p{
    font-size: 12px;
}

#secondary-tab{
    width: 40%;
    background-image: url('/images/help-center-bg.svg');
    background-position: center;
    background-size: cover;
    filter: opacity(0.6);
}

#my-listings{
    grid-row: 3/4;
    height: 350px;
    grid-column: 1/4;
}

.sec-heading-format{
    display: flex;
    flex-flow: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 10px;
}

.sec-heading-format > h2{
    font-size: 17px;
    margin-left: 10px;
    color: var(--my-listings-green);
}

.sec-heading-format > a{
    text-decoration: none;
    color: var(--comment-color);
    font-size: 10px;
}

.my-listings-options{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row;
}

.my-listing-cards{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    padding: 3%;
    font-size: 10px;
    border-radius: 10px;
    width: 105px;
    height: 160px;
    border: solid 0.5px #b5b6b853;
    background-color: white;
}

.sellers{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.seller-card{
    width: 48%;
}

.seller-card > .sec-heading-format > h2{
    font-size: 12px;
}

.seller-card > .sec-heading-format > a{
    font-size: 7px;
}

.recent-activity-card{
    display: flex;
    flex-flow: row;
    font-size: 10px;
    padding: 3%;
    align-items: center;
    justify-content: space-around;
    border: solid 0.5px #b5b6b853;
    background-color: white;
    border-radius: 10px;
}

.recent-activity-card-info{
    display: flex;
    flex-flow: column;
    align-items:flex-start ;
    justify-content: space-around;
    border-left: #b5b6b8 solid 1px;
    padding: 1px;
}

.recent-activity-card-info > h3{
    margin: 0 10px;
}

#my-listings > h3{
    color: var(--my-listings-green);
}

#recent-activity{
    grid-row: 3/4;
    height: 350px;
    grid-column: 4/-1;
}

.recent-activity-cards{
    margin: 8px;
}

.recent-activity-cards > .sec-heading-format{
    align-items: flex-start;
}

.sec-heading-format > .recent-activity-card-info{
    border: none;
}

.recent-activity-card-info > h5{
    font-size: 10px;
    margin: 0;
    padding: 0 auto;
}

.recent-activity-cards-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.recent-activity-card-info > p,
.time{
    margin: 0;
    color: var(--comment-color);
    font-size: 9px;
}

.plantImg{
    width: 60%;
}

.profile_picture{
    width: 10%;
}

.multiple_profile_picture{
    width: 20%;
}