:root{
    --main-green: #6c983e;
    --my-listings-green: #456d21;
    --major-background-color: #f7f8fa;
    --comment-color: #b5b6b8;
    --my-listings-carousel: #fefefe;
        --shadow-color: 94deg 45% 47%;
        --shadow-elevation-low:
          0px 0.7px 0.8px hsl(var(--shadow-color) / 0.34),
          0px 1.2px 1.3px -1.2px hsl(var(--shadow-color) / 0.34),
          0px 3px 3.4px -2.5px hsl(var(--shadow-color) / 0.34);
        --shadow-elevation-medium:
          0px 0.7px 0.8px hsl(var(--shadow-color) / 0.29),
          0px 2px 2.3px -0.6px hsl(var(--shadow-color) / 0.29),
          0px 3.8px 4.3px -1.2px hsl(var(--shadow-color) / 0.29),
          0px 7.7px 8.7px -1.9px hsl(var(--shadow-color) / 0.29),
          0px 14.8px 16.7px -2.5px hsl(var(--shadow-color) / 0.29);
        --shadow-elevation-high:
          0px 0.7px 0.8px hsl(var(--shadow-color) / 0.27),
          0px 3.6px 4.1px -0.3px hsl(var(--shadow-color) / 0.27),
          0px 6.3px 7.1px -0.6px hsl(var(--shadow-color) / 0.27),
          0px 9.6px 10.8px -0.8px hsl(var(--shadow-color) / 0.27),
          0px 14px 15.8px -1.1px hsl(var(--shadow-color) / 0.27),
          0px 20.1px 22.6px -1.4px hsl(var(--shadow-color) / 0.27),
          0px 28.6px 32.2px -1.7px hsl(var(--shadow-color) / 0.27),
          0.1px 40.1px 45.1px -1.9px hsl(var(--shadow-color) / 0.27),
          0.1px 55.1px 62px -2.2px hsl(var(--shadow-color) / 0.27),
          0.1px 74.2px 83.5px -2.5px hsl(var(--shadow-color) / 0.27);
}

body{
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/images/Animated\ Shape.svg');
    background-size: cover;
}

#icons > ul{
    display: flex;
    flex-flow: row;
    margin: 13px 13px 0 0;
}

#icons > ul > li{
    text-align: center;
    height: 20px;
    width: 20px;
    margin: 2px;
    padding: 2px;
    border-radius: 3px;
    box-shadow: var(--shadow-elevation-low);
}


.container{
    display: grid;
    grid-template-areas: 'nav-bar main-sec main-sec main-sec main-sec'
                         'nav-bar main-sec main-sec main-sec main-sec'
                         'nav-bar main-sec main-sec main-sec main-sec'
                         'nav-bar main-sec main-sec main-sec main-sec';
    height: 90vh;
    width: 90vw;
    border-radius: 13px;
    border: 0.5px solid var(--comment-color);
    background-color: var(--major-background-color);
    opacity: 0.89;
}

#main-sec{
    grid-area: main-sec;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: repeat(5, 1fr);
    padding: 0;
    margin: 0;
    grid-auto-columns: auto;
    grid-auto-flow: dense row;
    grid-row-gap: 10px;
}

#nav-bar{
    grid-area: nav-bar;
    background-color: #ffffff;
    border-right: solid 0.5px #b5b6b84d;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    border-radius: 13px 0 0 13px;
    margin-right: 0;
    justify-content: space-between;
}

#nav-bar > div{
    width: 100%;
    min-height: 10px;

}

#nav-bar > #logo > ul{
    color: var(--main-green);
    font-size: 17px;
    height: 17px;
}

li{
    height: 25px;
}

ul{
    list-style: none;
    font-size: 13px;
    text-align: left;
    padding-left: 13px;
    color: var(--comment-color);
}

#settings-menu > h4{
    padding-left: 9px;
    font-size: 8px;
}

#help-center-logo{
    padding: 5px;
    display: unset;
    margin: auto;
    border: 10px solid #ffffff;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    box-shadow: var(--shadow-elevation-high);
}

#help-center{
    max-width: 140px;
    padding: 3px;
    border-radius: 7px;
    text-align: center;
    background-image: url('/images/help-center-bg.svg');
    background-position: right;
    background-size: cover;
    box-shadow: var(--shadow-elevation-low);
}

#help-center> p{
    font-size: 10px;
}

button{
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: var(--shadow-elevation-high);
    border: none;
    margin-bottom: 12px;
    font-size: 10px;
    padding: 6px;
}

#heading{
    grid-column: 1/-1;
    grid-row: 1/2;
    display: flex;
    flex-flow: row;
    margin-left: 0;
    width: 100%;
    justify-content: space-between;
    height: min-content;
    border: 1px solid var(--comment-color);
    margin-bottom: 0;
}

#heading > #welcome{
    margin: 0 0 0 35px;
    width: 40%;
}

#heading > #inp{
    width: 30%;
    height: 19px;
    margin-top: 19px;
    border: 0.5px solid #b5b6b823;
    border-radius: 3px;
    color: var(--comment-color);
    font-size: 9px;
}

#heading > #welcome > h3{
    margin-top: 9px;
    margin-bottom: 0;
}

#heading > #welcome > p{
    margin-top: 3px;
    font-size: 10px;
    color: var(--comment-color);
}

#widgets{
    background-color: #6c983e;
    grid-row: 2/3;
    height: 200px;
    grid-column: 1/-1;
}

#my-listings{
    grid-row: 3/4;
    background-color: #6c983e;
    height: 350px;
    grid-column: 1/4;
}

#my-listings > h3{
    color: var(--my-listings-green);
}

#recent-activity{
    grid-row: 3/4;
    background-color: #9ca98d;
    height: 350px;
    grid-column: 4/-1;
}
